* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

header,
footer,
nav {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

p {
    width: auto;
    overflow-wrap: break-word;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px; /*TODO: check mr*/
}

.header__logo:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: all 0.4s;
}

.menu__list {
    display: flex;
}

.menu__link {
    padding: 43px 20px;
    text-transform: uppercase;
}

.menu__link:hover {
    background-color: #131313;
    color: #FFFFFF;
    transition: all 0.4s ease;
}

.bike {
    border: 0;
    padding: 100px 0 150px;
}

.bike__inner {
    display: flex;
}

.bike__left_title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.bike__left_subtitle {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
}

.bike__left_text {
    width: 420px;
}

.bike__left_text:nth-of-type(1) {
    margin-bottom: 20px;
}

.bike__left_text:nth-of-type(2) {
    margin-bottom: 80px;
}

.bike__left_order {
    padding: 28px 81px;
    background-color: #131313;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.1em;
}

.bike__left_order:hover {
    background-color: #FF4040;
    transition: all 0.4s;
}

