.header {
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px; /*TODO: check mr*/
}

.header__logo:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: all 0.4s;
}

.menu__list {
    display: flex;
}

.menu__link {
    padding: 43px 20px;
    text-transform: uppercase;
}

.menu__link:hover {
    background-color: #131313;
    color: #FFFFFF;
    transition: all 0.4s ease;
}